@inherits LayoutComponentBase

<div class="page bg-light min-vh-100 d-flex align-items-center justify-content-center">
    <main class="w-100">
        @Body
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>